<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

<!-- fonts: Taipei Sans TC -->
<link href="https://cdn.jsdelivr.net/npm/taipei-sans-tc" rel="stylesheet" />
<link
  href="https://cdn.jsdelivr.net/npm/taipei-sans-tc/dist/Light/TaipeiSansTCBeta-Light.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/taipei-sans-tc/dist/Bold/TaipeiSansTCBeta-Bold.css"
  rel="stylesheet"
/>

<!-- custom page css -->
{% if page.page_css %}
  {% for stylesheet in page.page_css %}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
  {% endfor %}
{% endif %}

<!-- end custom head snippets -->
